@model CodeFirstEF.ViewModels.ProfileModel
@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
             @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>
            <p class="personal-body-tips mt10">@Model.NickName，请填写真实信息，方便大家了解你，以下信息将显示在<a href="http://home.zhubajie.com/4740284/info">个人资料页</a>。</p>
            @if (ViewBag.Error != null)
            { 
                <p class="personal-error-tips">
                    @ViewBag.Error
                </p>
            }
            <div class="personal-form mt40">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>
        </div>

    </div>
</article>
