@model CodeFirstEF.Models.Member
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            <div class="nav-body nav-top">
                <div class="nav-title nav-current">
                    <em></em>
                    <p class="nav-account"><a href="@Url.Action("Index")">我的账号</a></p>
                    <i></i>
                </div>
                <div class="nav-title ">
                    <em></em>
                    <p class="nav-profile">个人资料</p>
                    <i></i>
                </div>
                <ul class="menu-profile" style="display: block;">
                    <li class="item-baseinfo current ">
                        <p><a href="@Url.Action("BaseInfo")">基本信息</a></p>
                    </li>
                    <li class="item-avtar ">
                        <p><a href="@Url.Action("Avtar")">设置头像</a></p>
                    </li>
                    <li class="item-contact item-current">
                        <p><a href="@Url.Action("Contact")">联系方式</a></p>
                    </li>
                    @*  <li class="item-workexp ">
                        <p><a href="http://u.zhubajie.com/mydata/workexp">工作经历</a></p>
                    </li>
                    <li class="item-studyxp ">
                        <p><a href="http://u.zhubajie.com/mydata/studyxp">学习经历</a></p>
                    </li>*@
                    <li class="item-address ">
                        <p><a href="@Url.Action("Address")">详细地址</a></p>
                    </li>
                </ul>
                <div class="nav-title ">
                    <em></em>
                    <p class="nav-bound">账号绑定</p>
                    <i></i>
                </div>
                <ul class="menu-bound" style="display: none;">
                    <li class="item-mobile ">
                        <p><a href="http://u.zhubajie.com/cert/mobile">手机绑定</a></p>
                    </li>
                    <li class="item-email ">
                        <p><a href="http://u.zhubajie.com/cert/email">邮箱绑定</a></p>
                    </li>
                    <li class="item-weobo ">
                        <p><a href="http://u.zhubajie.com/weibo/index">微博绑定</a></p>
                    </li>
                </ul>
                <div class="nav-title ">
                    <em></em>
                    <p class="nav-auth"><a href="http://yan.zhubajie.com/certification/index-from-t5">身份认证</a></p>
                    <i></i>
                </div>
                <div class="nav-title ">
                    <em></em>
                    <p class="nav-security">账号安全</p>
                    <i></i>
                </div>
                <ul class="menu-security" style="display: none;">
                    <li class="item-changepwd ">
                        <p><a href="http://u.zhubajie.com/changepass/index">修改登录密码</a></p>
                    </li>
                </ul>
                <div class="nav-title ">
                    <em></em>
                    <p class="nav-outdoor">户外信息管理</p>
                    <i></i>
                </div>
                <ul class="menu-media" style="display: none;">
                    <li class="item-outdoor-list ">
                        <p><a href="http://u.zhubajie.com/changepass/index">户外信息列表</a></p>
                    </li>
                    <li class="item-outdoor-publish ">
                        <p><a href="http://u.zhubajie.com/changepass/index">发布户外信息</a></p>
                    </li>
                    <li class="item-outdoor-top ">
                        <p><a href="http://u.zhubajie.com/changepass/index">户外置顶</a></p>
                    </li>

                </ul>
                <div class="nav-title ">
                    <em></em>
                    <p class="nav-pay"><a href="http://u.zhubajie.com/pay">支付账户管理</a></p>
                    <i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>我的帐号</h5>
            </div>
            <p class="personal-body-tips mt10">@Model.NickName，填写真实的资料更方便大家了解你，以下信息将显示在<a href="http://home.zhubajie.com/4740284/info">个人资料页</a>。</p>
            <ul class="personal-body-list">
                <li>登录名：<a href="http://home.zhubajie.com/6200334">@Model.Email</a></li>
                <li>昵称：<a href="http://home.zhubajie.com/6200334">@Model.NickName</a></li>
                @*  <li class="list-status"><span>我的余额：￥ 6 元</span><a href="http://task.zhubajie.com/payorder/order">充值</a><a href="http://u.zhubajie.com/pay/activeyjf" target="_blank">管理</a></li>*@
            </ul>

            <p class="personal-body-tips mt10">你在猪八戒网还是黑户哦！作为一个有身份的人，没有身份认证怎么行! <a href="http://yan.zhubajie.com/certification/index-from-t5" target="_blank">马上认证身份&gt;</a></p>
            <div class="personal-body-bind">
                <dl class="clearfix">
                    <dt class="bind-mobile"></dt>
                    <dd class="bind-desc"><span class="ok">手机绑定</span>已绑定手机号码：186*****942</dd>
                    <dd class="bind-btn"><a href="/cert/mobile-action-change">修改手机号码</a></dd>
                </dl>
                <dl class="clearfix">
                    <dt class="bind-email"></dt>
                    <dd class="bind-desc"><span class="ok">邮箱绑定</span>已绑定邮箱：564*****@@qq.com</dd>
                    <dd class="bind-btn"><a href="/cert/email-action-change">修改邮箱</a></dd>
                </dl>
            </div>
        </div>

    </div>
</article>
